<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
</head>
<body>
<script type="text/javascript" th:src="@{/scripts/web/Producto/list_producto.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header">
        <h2>Mantenimiento de productos</h2>
    </div>
    <br>
    <form class="form-inline" th:action="@{/producto/listado}" style="margin:5px;">
        <div class="form-group col-sm-6 d-flex">
            <input type="text" class="form-control" name="palabraclave" id="palabraclave" th:value="${palabraclave}" placeholder="Ingrese el ID o nombre de un producto" >
            <input type="submit" class="btn btn-info mb-2" value="Buscar">
        </div>
    </form>
    <div class="card-body">
        <button id="btnnuevo" type="button" class="btn btn-info">
            <i class="bi bi-balloon">Agregar un nuevo Producto</i>
        </button>
        <h2> </h2>
        <table id="tblproducto" class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tipo producto</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock mínimo</th>
                <th scope="col">Stock máximo</th>
                <th scope="col">Lote</th>
                <th scope="col">estado</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto: ${listadoproductos}">
                <td th:text="${producto.idproducto}"></td>
                <td th:text="${producto.tipoproducto.descripcion}"></td>
                <td th:text="${producto.proveedor.empresa}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.cantidad}"></td>
                <td th:text="${producto.precio}"></td>
                <td th:text="${producto.cantmin}"></td>
                <td th:text="${producto.cantmax}"></td>
                <td th:text="${producto.lote.descripcion}"></td>
                <td th:text="${producto.estado.descripcion}"></td>
                <td>
                    <button type="button" class="btn btn-outline-info btnactualizar"
                            th:data-idproducto="${producto.idproducto}"
                            th:data-idtipopro="${producto.tipoproducto.idtipopro}"
                            th:data-idproveedor="${producto.proveedor.idproveedor}"
                            th:data-nombre="${producto.nombre}"
                            th:data-cantidad="${producto.cantidad}"
                            th:data-precio="${producto.precio}"
                            th:data-cantmin="${producto.cantmin}"
                            th:data-cantmax="${producto.cantmax}"
                            th:data-idlote="${producto.lote.idlote}"
                            th:data-idestado="${producto.estado.idestado}"
                            >
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-warning btneliminar"
                            th:data-idproducto="${producto.idproducto}"
                            th:data-idtipopro="${producto.tipoproducto.idtipopro}"
                            th:data-idproveedor="${producto.proveedor.idproveedor}"
                            th:data-nombre="${producto.nombre}"
                            th:data-cantidad="${producto.cantidad}"
                            th:data-precio="${producto.precio}"
                            th:data-cantmin="${producto.cantmin}"
                            th:data-cantmax="${producto.cantmax}"
                            th:data-idlote="${producto.lote.idlote}"
                            th:data-idestado="${producto.estado.idestado}"
                            >
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body" style="width:100%;">
        <a th:href="@{/producto/exportarPDF}" class="btn btn-primary">Exportar a PDF</a>
        <a th:href="@{/producto/exportarExcel}" class="btn btn-success">Exportar a Excel</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalproducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Mantenimiento Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="txtidproducto" class="form-label">ID Producto:</label>
                <input type="text" class="form-control" id="txtidproducto" placeholder="Ingrese el ID del producto">

                <label for="txtidtipoproducto" class="form-label">Tipo de producto</label>
                <select id="txtidtipoproducto" class="form-select" aria-label="Default select example">
                </select>

                <label for="txtidproveedor" class="form-label">Proveedor:</label>
                <select id="txtidproveedor" class="form-select" aria-label="Default select example">
                </select>

                <label for="txtnombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="txtnombre" placeholder="Ingrese el nombre del producto" required>

                <label for="txtcantidad" class="form-label">Cantidad:</label>
                <input type="text" class="form-control" id="txtcantidad" placeholder="Ingrese la cantidad" required>

                <label for="txtprecio" class="form-label">Precio:</label>
                <input type="text" class="form-control" id="txtprecio" placeholder="Ingrese el precio" required>

                <label for="txtstockmin" class="form-label">Stock mínimo:</label>
                <input type="text" class="form-control" id="txtstockmin" placeholder="Ingrese el stock mínimo" required>

                <label for="txtstockmax" class="form-label">Stock máximo</label>
                <input type="text" class="form-control" id="txtstockmax" placeholder="Ingrese el stock máximo" required>

                <label for="txtidlote" class="form-label">Lote:</label>
                <select id="txtidlote" class="form-select" aria-label="Default select example">
                </select>

                <label for="txtestado" class="form-label">Estado</label>
                <select id="txtestado" class="form-select" aria-label="Default select example">
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
                <button id="btnguardar" onclick="click" type="button" class="btn btn-outline-secondary"><i class="bi bi-download"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- Modal ELIMINAR-->
<div class="modal fade" id="modaleliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Eliminar producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="lblmensajeeliminar"></label>
                <input type="hidden" value="0" id="hddideliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cerrar</button>
                <button id="btneliminar" onclick="click" type="button" class="btn btn-primary"><i class="bi bi-save"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>